<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lordoftheping.android"
    android:versionCode="1"
    android:versionName="1.0" >


    <uses-permission android:name="android.permission.INTERNET" />

    <!--<!- sf -->
     <!--To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect-->
     <!--option is required to comply with the Google+ Sign-In developer policies-->
    <!----> -->

    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!--<! To retrieve the account name (email) as part of sign-in: -->-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!--<! To auto-complete the email text field in the login form with the user's emails -->-->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.lordoftheping.android.PingPongApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Lotp"
        >
        <activity
            android:name="com.lordoftheping.android.activity.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.lordoftheping.android.activity.ProfileActivity"
            android:screenOrientation="portrait"
            />
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="9db779342b23c94e19575e4e61e94ae4355217e7" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>


</manifest>
