<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lordoftheping.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:name="com.lordoftheping.android.PingPongApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Lotp" >
        <activity
            android:name="com.lordoftheping.android.activity.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.lordoftheping.android.activity.ProfileActivity"/>

        <meta-data android:name="com.crashlytics.ApiKey" android:value="311817341c6d6814d060e658d1a0f8fc0aa03e94f153da093b87dd07201989fc"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
